html,
body {
  background-color: #131315;
  color: white;
  font-family: sans-serif;
}

input[type='text'],
input[type='email'] {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  background-color: #664caf;
  color: white;
  padding: 11px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #4c3b7a;
}

@media screen and (max-width: 720px) {
  .my-input {
    width: 80%;
  }
}
