html,
body {
  background-color: #131315;
  font-family: sans-serif;
}

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

@media only screen and (min-width: 64em) {
  .col {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    /* padding-right: 0.5rem; */
    padding-left: 0.5rem;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
}

.container {
  position: relative;
}
.container video {
  position: relative;
  z-index: 0;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 8px;
  z-index: 1;
  color: white;
  background-color: rgb(0 0 0 / 33%);
  padding: 5px;
}

.vid {
  width: 100%;
}

.button {
  background-color: #664caf;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
}

.settings {
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.chat-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #f1f2f3;
  width: 400px;
  padding: 10px;
}

.chat-inner {
  overflow: scroll;
  position: absolute;
  top: 40px;
  bottom: 40px;
  right: 0;
  left: 10px;
}
.chat-message {
  color: #000;
  padding-top: 10px;
  max-width: 600px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  word-break: break-all;
}
